<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>
<br/>
<br/>
<br/>
<a href="/user" sec:authorize="hasRole('ADMIN') or hasRole('USER')">User personal account</a>
<br/>
<br/>
<a href="/admin/users" sec:authorize="hasRole('ADMIN')">Management users</a>
<br/>
<br/>
<a href="/admin/new" sec:authorize="hasRole('ADMIN')">Create user</a>
<br/>
<br/>
<a href="/logout">Logout</a>

</body>
</html>